/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
/import/*
!/log/.keep
!/tmp/.keep
!/import/.keep
!/import/nav_aids_2019.txt

.byebug_history
/client/node_modules
/client/npm-debug.log
/client.gmaps/node_modules
/client.gmaps/npm-debug.log
/client.old/node_modules
/client.old/npm-debug.log
/public/client.min.js
/public/index.min.js
/public/*.woff
/public/*.ttf
/public/*.eot
/public/*.svg
/public/*.woff2
.bash_history
/client/src/js/secrets.js
/client/src/js/secrets.js.ignore
/client.old/src/js/secrets.js
/client.old/src/js/secrets.js.ignore
/client.gmaps/src/js/secrets.js
/client.gmaps/src/js/secrets.js.ignore
