/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

.byebug_history
/client/node_modules
/client/npm-debug.log
/public/client.min.js
.bash_history
/client/src/js/secrets.js
/client/src/js/secrets.js.ignore
